 .bg{
    background-image:url('./Image.png') ;
    height: 106vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
     
 }



 body {
    margin: 0px;
    padding: 0px;
}



.header{
    
   display: flex;
   flex-direction: row;
   align-items: center;  
   justify-content: center; 
   height:  max-content;  
   text-align: center;
   background-color: #1B2028;
   position: relative;
   top: 40px;
   
 }

.title-box{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   height: max-content;
   
}

  
.title{
   font-size: 30px;
   margin-bottom: -10px;
}
  

 .ending{
   display: flex;
   flex-direction: row;
   align-items: center;  
   justify-content: center;  
   height: 12vh;  
   text-align: center;
   background-color: #1B2028;
   position: relative;
   top: 150px;
   
 }


 .title-end{
text-align: center;
 font-size: 30px;
 
}




  


.signin{
 padding: 50px ;
}

.Id-input{
   
   border-radius: 30px;
   width: 300px;
   padding: 10px;
}